body {
    margin: 0;
}

header {
    background-color: #f2f2f2;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .navigation-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

header .navigation-panel .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

header .navigation-panel .nav-links a {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header .navigation-panel .nav-links li {
    padding: 15px;
    margin: 0;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header .navigation-panel .nav-links li p {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    /*text-transform: uppercase;*/
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 0;
}

header .navigation-panel .nav-links li:hover {
    background-color: #dbdbdb;
}

header .logo {
    position: relative;
    margin: 10px 15px;
    z-index: 1;
    width: 270px;
}

header .logo img {
    max-height: 100%; 
    max-width: 100%;
}

header .user {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}

header .navigation-panel .toggle-button {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

header .navigation-panel .toggle-button .burger-bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    transition: all 0.3s ease;
}

header .navigation-panel .toggle-button .burger-bar:first-child {
    transform: translateY(-4px);
}

header .navigation-panel .toggle-button .burger-bar:last-child {
    transform: translateY(4px);
}

header .navigation-panel .toggle-button:hover .burger-bar {
    background-color: #666;
}

/* header .navigation-panel .toggle-button.active .burger-bar:first-child {
    transform: rotate(45deg) translate(6px, 6px);
}

header .navigation-panel .toggle-button.active .burger-bar:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
}

header .navigation-panel .toggle-button.active .burger-bar:nth-child(2) {
    opacity: 0;
} */

@media (max-width: 700px) {
    /* responsive header */
    header {
        padding: 0;
    }

    header .navigation-panel {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    header .navigation-panel .nav-links {
        flex-direction: column;
        justify-content: center;
    }

    header .navigation-panel .nav-links li {
        padding: 10px;
        display: block;
    }

    header .navigation-panel .nav-links li a {
        font-size: 16px;
    }

    header .logo {
        width: 100px;
    }

    header .navigation-panel .toggle-button {
        display: flex;
    }

    header .navigation-panel .nav-links {
        display: none;
    }

    header .navigation-panel {
        flex-direction: column;
    }

    header .navigation-panel .nav-links.active {
        display: flex;
    }
}