@font-face {
    font-family: "vrdznagir";
    /* check locally first (optional) */
    src: local("vrdznagir"),
        url("/fonts/Vrdznagir.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    /* optional performance tweaks: */
    font-display: swap;  /* render text immediately, swap in font when ready */
}

@font-face {
    font-family: "dzeragir";
    /* check locally first (optional) */
    src: local("dzeragir"),
        url("/fonts/Dzeragir.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    /* optional performance tweaks: */
    font-display: swap;  /* render text immediately, swap in font when ready */
}


header {
    background: linear-gradient(90deg, 
        white -10%, 
        var(--primary) 50%,
        var(--primary) 100%
        );
    color: white;
    padding: 0 10%;
}

/* Base nav link styling */
header nav a {
    position: relative;
    display: inline-block;
    color: white;
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Create the hidden underline */
header nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
    left: 0;
}

footer {
    background: linear-gradient(90deg, var(--primary), var(--secondary));
}

@keyframes slideIn {
  to { opacity: 1; transform: translateY(0); }
}
.animate-slide-in {
  animation: slideIn 1s forwards;
}
.delay-100 { animation-delay: 0.1s; }
.delay-300 { animation-delay: 0.3s; }
.delay-500 { animation-delay: 0.5s; }

.accent-bgcolor {
    background-color: var(--primary);
}